.About{
    display: flex;
    flex-direction: column;
    font-size: 2vw;
    padding: 2vw;
    background: #003329;
    color: white;


    h1{
        align-self: center;
        margin: 8% 0 2% 0;
    }
    p{
        align-self: center;
    margin: 2rem 19% 0 19%;
    }
}