 .parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    #text{
        position: absolute;
        // top: 40px; left: 50vw;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        font-size: 5em;
        color: #eeff00;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    }

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
 }

