body{
    margin: 0px;
}

.Text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;
}

.Hello{
font-size: 6rem;
color: #eeff00;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.Name{
font-size: 10rem;
color: #eeff00;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}


.About{
    font-size: 2rem;
    padding: 2rem;
    background: #003329;
    color: white;

}

.parallax{
    height: 100vh;
    overflow-y:auto;
    overflow-x: hidden;
    img{
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

#leaf, #plant{
    z-index: 2;
}

header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index:-1;
}


