body{
    margin: 0px;
}

.Text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;
    width: auto;
    color: #eeff00;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    font-size: 5vw;
    margin-bottom: 60px;
    position: fixed;
}

.parallax{
    height: 100vh;
    overflow-y:hidden;
    overflow-x: hidden;
    img{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

#leaf, #plant{
    z-index: 2;
}

header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index:-1;
}
