.Skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background: #003329;
  color: white;

  --fs-title: clamp(2rem, 8vw, 4rem);
  --fs-subtitle: clamp(1rem, 6vw, 2rem);

  h1 {
    font-size: var(--fs-title);
    margin: 4% 0 3% 0;
    // align-self: center;
  }

  .Cards {
    gap: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    font-size: var(--fs-subtitle);
    p {
      display: flex;
      justify-content: center;
      font-weight: bold;
      font-size: larger;
      padding: 1rem;
    }

    .Tools {
      img {
        height: clamp(30px, 60px, 80px);
      }
      .flutter_logo {
        order: 8;
        height: 40px;
      }
      .git_logo {
        height: 90px;
      }
      .figma_logo {
        height: 30px;
      }
      .tmux_logo{
        height: 40px;
      }
    }
  }

  .Languages {
    img {
      height: clamp(30px, 60px, 80px);
    }
    .dart_logo {
      height: 40px;
    }
  }

  .Frameworks {
    img {
      height: clamp(60px, 90px, 200px);
    }
    .bootstrap_logo {
      height: clamp(60px, 100px, 180px);
      margin-top: 2.9rem;
    }
    .daisyui_log{
      height: clamp(100px, 140px, 200px);
    }
  }

  .Images {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 30vw;
    background-color: #003329;
    transition: 0.5s ease-in-out;
    border-radius: 20px;
    &:hover {
      background-color: #00b994;
      transition: 0.7s ease-in-out;
    }

    img {
      margin: 2rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  .Images {
    width: 30vw;
  }
}
